<mat-card>
  <h3 [matBadge]="recordCount" matBadgeColor="warn">Pending varification </h3>
  <!-- {{ userprofile | json  }} -->
  <div *ngIf="userprofile.length != 0">
  <div  *ngFor="let item of userprofile">
    <!-- <p>{{ item.userid | json }}<p> -->
        <h5>{{ item.userid.first_name  | titlecase}} {{ item.userid.last_name | titlecase }}  want to be Ride provider</h5>
            <h6>Details of {{ item.userid.first_name  | titlecase}} : </h6>
      <ol>
         <li>Email : {{ item.userid.email  }}</li>
        <li>Licence Number: {{ item.licence_number }}</li>
         <li>Licence Date Valid from: {{ item.licence_date | date}}</li>
      </ol>
                            <button type="button"  style="background: whitesmoke" (click)="downloadFile(item.license_photo)" mat-raised-button>Download</button>
                            <button type="button" style="margin: 50px;" (click)="accept(item.userid._id)" mat-raised-button color="primary">Accept</button>
                            <button type="button" (click)="reject(item.userid._id)" mat-raised-button color="warn">Reject</button>
  </div>
</div>

</mat-card>
