/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

/*
.container{
  margin: 0%;
  padding: 0%;

} */

html, body {
  margin: 0;
  height: 100%;
  background: url('./assets/photos/BG2.jpg') no-repeat 50% 50%;
  background-size: cover;
}
