<!-- {{ userDetail | json }} -->

<style>
  h1 {
    font-weight: lighter;
  }

</style>

<br><br>

<h1 *ngIf="userDetail.owener">Hello Car Owner!</h1>
<h1 *ngIf="!userDetail.owener">Hello Subscriber!</h1>
<br>

<small><button mat-button color="primary" *ngIf="!userDetail.owener" (click)="redirect()">Provide Service?</button>
</small>
<small><button mat-button color="primary" *ngIf="!userDetail.owener"
    (click)="currentLocation(userDetail.second_email)">Your Location</button> </small>
<mat-tab-group>
  <mat-tab label="Profile">
    <style>
      mat-card {
        margin: 10px 0;
        /* color: whitesmoke; */
        background: whitesmoke;
      }

    </style>
    <mat-card >
      <span>Name </span>
      <h3>{{ userDetail.first_name  | titlecase}}</h3>



    </mat-card>
    <mat-card>
      <span>Last Name </span>
      <h3>{{ userDetail.last_name | titlecase }}</h3>



    </mat-card>
    <mat-card>
      <span>Email </span>
      <h3>{{ userDetail.email  }}</h3>



    </mat-card>

    <mat-card>
      <span>Contact </span>
      <h3>{{ userDetail.phone  }}</h3>



    </mat-card>

    <mat-card>
      <span>User ID </span>
      <h3>{{ userDetail.userid  }}</h3>



    </mat-card>

  </mat-tab>
  <mat-tab label="Update Profile">

    <mat-card>

      <form [formGroup]="updateForm" (ngSubmit)="update(updateForm.value)">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" formControlName="first_name">
        </mat-form-field>
        <mat-error>
          <small *ngIf="!updateForm.get('first_name').valid && updateForm.get('first_name').touched"> Please enter
            First Name !!!</small>
        </mat-error>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" formControlName="last_name">
        </mat-form-field>
        <mat-error>
          <small *ngIf="!updateForm.get('last_name').valid && updateForm.get('last_name').touched">Please enter Last
            Name !!!</small>
        </mat-error>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="userid" required>
        </mat-form-field>
        <mat-error>
          <small *ngIf="!updateForm.get('userid').valid && updateForm.get('userid').touched">Please Enter
            username!</small>
          <small *ngIf="updateForm.get('userid').errors?.minlength ">Name must be at least 5 characters long</small>
        </mat-error>


        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="email" formControlName="email">
          <mat-hint>use like : demo@demo.com</mat-hint>
        </mat-form-field>
        <mat-error>
          <small *ngIf="!updateForm.get('email').valid && updateForm.get('email').touched">Please Enter Email!</small>
        </mat-error>
        <mat-form-field class="example-full-width">
          <small matPrefix>+91 &nbsp;</small>
          <input type="tel" matInput placeholder="Telephone" formControlName="phone">

        </mat-form-field>
        <mat-error>
          <small *ngIf="!updateForm.get('phone').valid && updateForm.get('phone').touched">Please Enter phone!</small>
          <small *ngIf="updateForm.get('phone').errors?.minlength">Phone must be 10 digit long</small>
        </mat-error>
        <!-- <br> -->
        <mat-radio-group class="example-radio-group" formControlName="gender">
          <mat-radio-button color="primary" value="Male">Male</mat-radio-button>
          <mat-radio-button color="primary" value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <mat-error>
          <small *ngIf="!updateForm.get('gender').valid && updateForm.get('gender').touched">Please select any gender
            !!!</small>
        </mat-error>
        <br>
        <button type="submit" mat-raised-button>Update </button>
      </form>
      <!-- <mat-form-field class="example-full-width">
                <input  type="password" matInput placeholder="password" formControlName="password"  required>
              </mat-form-field> -->
      <!-- <mat-error>
                <span *ngIf="!updateForm.get('password').valid && updateForm.get('password').touched">Please Enter Password!</span>
            </mat-error> -->
    </mat-card>
  </mat-tab>

  <mat-tab *ngIf="userDetail.owener" label="Request to approve ">
    <!-- ! complete this -->
    <!-- {{userRides | json}} -->
       <!-- {{rideReq | json}} -->
      <div *ngIf="rideReq.length > 0;else nothingtoapp">


      <div *ngFor="let req of rideReq">
          <mat-card style="background: whitesmoke">
          <p>
              {{req.userid.first_name | titlecase}} wants to ride with you from {{req.rideid.departing_from | uppercase}} to {{req.rideid.arriving_at | uppercase}} on {{req.rideid.departing_date | date}} {{req.rideid.departure_time}}
          </p>
        <!-- <li>Userid : <span> {{req.userid.first_name}}</span> </li> <br>
        <li>Ride : {{req.rideid.departing_from}} to {{req.rideid.arriving_at}} </li>
        <li> {{req.rideid.departing_date | date}} {{req.rideid.departure_time}} </li> -->
        <button mat-raised-button color="primary" (click)="accept(req.userid._id,req.rideid._id)">Accept</button>&nbsp;
        <button mat-raised-button color="warn" (click)="reject(req._id)">Reject</button>
      </mat-card>
      </div>


  </div>
   <ng-template #nothingtoapp>
     <p class="mat-display-1">No Request to Approve</p>
   </ng-template>


  </mat-tab>

  <mat-tab *ngIf="userDetail.owener" label="Ride Detail">

    <!-- {{owenerRides | json}} -->
    <!-- ! color #EBF6FD -->
    <div *ngIf="owenerRides.length > 0;else NotRegride">
    <mat-card style="background:whitesmoke" class="tp-card" *ngFor="let ride of owenerRides">

      <mat-card-header>
        <mat-card-title>{{ ride.departing_from | titlecase }} <mat-icon>near_me</mat-icon>  {{ ride.arriving_at | titlecase }} </mat-card-title>
        <mat-card-subtitle> {{ ride.departing_date | date}} &nbsp; {{ ride.departure_time  }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Your journey is starts from {{ ride.source_faddress  }} to {{ ride.des_faddress  }}
          via {{ ride.waypoints | titlecase }} on {{ ride.vehicle_type | titlecase }} with <span
            *ngFor="let riders of ride.rider">
            {{riders.userID.first_name | titlecase }} {{riders.userID.last_name | titlecase }} . </span> <span *ngIf="ride.returndate && ride.returndate">You are
            returning to {{ ride.returndate | date }} on {{ ride.returntime }}.</span>
          <span *ngIf="ride.preferences.Smoking != true"> Smoking Is not allowed with you</span>
        </p>

        <!-- chattiness <li>{{ ride.preferences.chattiness }}</li>
              pets <li>{{ ride.preferences.pets }}</li>
              music <li>{{ ride.preferences.music }}</li> -->


      </mat-card-content>

    </mat-card>
  </div>
  <ng-template #NotRegride>
    <p>Not Register Ride Yet!</p>
  </ng-template>
  </mat-tab>



  <mat-tab label="Bookings History">

    <!-- {{userRides | json}} -->
    <div *ngIf="userRides.rides && (userRides.rides.length > 0 ); else NoBook">

      <div *ngFor="let book of userRides.rides">
        <mat-card style="background: whitesmoke">
            <mat-card-header>
                <mat-card-title>{{ book.rideID.departing_from | titlecase }} <mat-icon>arrow_forward
                  </mat-icon> {{ book.rideID.arriving_at | titlecase }} via lkjl </mat-card-title>
                <mat-card-subtitle> {{ book.rideID.departing_date | date}} &nbsp; {{ book.rideID.departure_time  }} </mat-card-subtitle>
              </mat-card-header>

          <ul>

        <li>
          Waypoints: {{book.rideID.waypoints | titlecase}}

        </li>

        <li *ngIf="book.rideID.returndate || book.rideID.returntime">
          Return date: {{book.rideID.returndate | date}}
           {{book.rideID.returntime}}
        </li>
        <li>
          Vehicle Type: {{book.rideID.vehicle_type | titlecase}}
          ({{book.rideID.vehicle_number}})
        </li>
        <li>
          Source Address: {{book.rideID.source_faddress}}

        </li>
        <li>
          Destination Address: {{book.rideID.des_faddress}}

        </li>
        <li>
            <!-- email phone last_name -->
          Provided By: {{book.rideID.owenerID.first_name | titlecase}} {{book.rideID.owenerID.last_name | titlecase}}
          (Contact No: {{book.rideID.owenerID.phone }})
        </li>
      </ul>
    </mat-card>
    </div>
    </div>
    <ng-template #NoBook>
      <p class="mat-display-1">No Booking !!</p>
    </ng-template>

  </mat-tab>

  <mat-tab *ngIf="userDetail.owener" label="Load Transport Request to Approve">
<!-- ! make some condition -->
    <!-- {{ loadReq | json }} -->
    <div *ngFor="let req of  loadReq">
      <div *ngIf="req.isConfirm != true" > <!--todo ;else Noloadreq-->
        <mat-card style="background:  whitesmoke">

          <h3> <span> {{req.departure_address | uppercase}} <mat-icon>arrow_forward</mat-icon>
              {{req.arrival_address | uppercase}}</span> </h3>
          <h5>Date : {{req.dateofdel | date}}</h5>
          <h5>By : {{req.userid.first_name | titlecase}} {{req.userid.last_name | titlecase}} &nbsp; <mat-icon>
              local_post_office</mat-icon> {{req.userid.email }}
            <br> </h5><br>
          <p>Priority to ship: {{req.priority}}</p>
          <p> Description :{{req.description}} </p>
          <h6>Load details:</h6>
          <ul>
            <li>Type of materail :{{req.type}}</li>
            <li>Weight: {{req.weight}} KG</li>

          </ul>

          <button mat-raised-button color="primary" (click)="acceptloadreq(req.userid,req._id)">Accept</button>&nbsp;
          <small style="color: red">* Ignore request if not interested</small>
        </mat-card>
      </div>
    </div>
    <!-- todo No load Request -->
    <!-- <ng-template #Noloadreq>
      <p>No Request</p>

      </ng-template> -->

  </mat-tab>

  <mat-tab *ngIf="userDetail.owener" label="Load to transport">

      <!-- todo else is missing
         {{ userRides | json}} -->

      <div *ngFor="let load of userRides.transportByme ">
        <mat-card style="background: whitesmoke">
        <p> Confirmed  loading request for {{load.reqid.departure_address}} to {{load.reqid.arrival_address }} on
          {{load.reqid.dateofdel | date}} by you  for {{load.reqid.userid.first_name | titlecase}} {{load.reqid.userid.last_name | titlecase}} </p>
          <p>Contact detail : <br> Email: {{load.reqid.userid.email}} <br>Phone : {{load.reqid.userid.phone}}</p>
        </mat-card>
      </div>



  </mat-tab>


  <mat-tab *ngIf="!userDetail.owener" label="Load Request Approved">

  <!-- {{userRides | json }} -->
    <div *ngIf="userRides.loadtrasport != 0;else Noreqapprove" >

      <div *ngFor="let load of userRides.loadtransport ">

        <mat-card  style="background: whitesmoke">
        <p>Your loading request for {{load.reqid.departure_address}} to {{load.reqid.arrival_address }} on
          {{load.reqid.dateofdel | date}} is confiremed </p>
        <p>by {{load.shippedBy.first_name}} {{load.shippedBy.last_name}} </p>
        <p>Contact them from email : {{load.shippedBy.email}} or mobile : {{load.shippedBy.phone}} for more detail</p>
      </mat-card>
      </div>
    </div>
    <ng-template #Noreqapprove><h4>You have not submitted any requset!</h4></ng-template>
    <br>

  </mat-tab>





</mat-tab-group>
